Binaries/
Intermediate/
Saved/
DerivedDataCache/
Build/
Plugins/*/Binaries/
Plugins/*/Intermediate/

Content/Developers/

.vs/
.vscode/
.idea/
*.sln
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.code-workspace
*.vsconfig
*.pdb
